node_modules/
npm-debug.log

artifacts/
cache/

.env
.env.local

infrastructure/data/geth/chaindata/
infrastructure/data/geth/lightchaindata/
infrastructure/data/geth/nodes/

.DS_Store
.vscode/
.idea/

**/*.pem
**/*.key
**/*.ppk
id_rsa
id_rsa.pub
